<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>

  <!-- Library -->
  <link rel="stylesheet" href="../assets/library/bootstrap/bootstrap.min.css" />

  <!-- Layout Style -->
  <link rel="stylesheet" href="../assets/css/main.css" />
  <link rel="stylesheet" href="../assets/css/header.css">
  <link rel="stylesheet" href="../assets/fonts/style.css" />

</head>
<body>

  <header>
      <div id="adsentop">
          <img src="../assets/images/header/qc.png" alt="">
      </div>
  </header>

  <!-- Library -->
  <script src="../assets/library/jquery/jquery.min.js"></script>
  <script src="../assets/library/bootstrap/bootstrap.bundle.min.js"></script>

  <!-- Layout Script -->
  <script src="../assets/js/main.js"></script>

</body>
</html>